body {
  margin: 0;
  padding: 0;
  background-color: rgb(233, 231, 231);

  display: flex;
  justify-content: center;

  color: rgb(44, 37, 37);
  font-size: 2em;
  font-family: 'ABeeZee', sans-serif;
}

.App {
  margin: 40px;
  text-align: center;

  background-color: rgb(230, 230, 230);
  box-shadow: 2px 2px 15px 10px black;
  height: 800px;
  width: 600px;
}

header {
  width: 100%;
  height: 120px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #9ea93a;
  border-bottom: 2px solid white;
}

.dashboard {
  padding: 12px;
}

.listItem {
  display: flex;
  flex: 1 1 0px;
  justify-content: space-between;
  align-items: center;
}

.listItem h3 {
  flex: 1;
  text-align: left;
}

.listItem button {
  height: auto;
  font-size: 0.6em;
}

.listItem button:hover {
  background: orange;
}
